<main>
    <section class="profile">
        <h1 class="profile__title">
            <span class="profile__tag--type"></span>
            <span class="profile__tag--spacing"></span>
            <span class="profile__tag--branch"></span>
        </h1>

        <p class="profile__description">Ik werk graag met de nieuwste tools en programmeer talen maar ik ken ook
            de ins en outs van de standaard tools en talen zoals: <span class="tag">PHP</span>, <span
                    class="tag">CSS</span>, <span class="tag">HTML5</span> en <span class="tag">git</span>. Ik heb met
            veel verschillende
            technieken zoals: <span class="tag">NPM</span>, <span class="tag">WebSocket</span>, <span class="tag">Web Security</span>,
            <span class="tag">Testing</span>, <span class="tag">Git Flow</span> en <span class="tag">Sass</span>.</p>
    </section>
    <section class="section section--gray">
        <section class="l-projects">


            <section class="project">
                <img class="project__image project__image--preview" src="images/landingpage.png">
                <section class="project__overlay project__overlay--smooth">
                    <h3 class="project__title">JobList</h3>

                    <section class="project__chip-list">
                        <section class="chip project__chip project__chip--hidden project__chip--first">PHP
                        </section>
                        <section class="chip project__chip project__chip--hidden project__chip--first">Material Design
                        </section>
                        <section class="chip project__chip project__chip--hidden project__chip--first">Laravel
                        </section>
                        <section class="chip project__chip project__chip--hidden project__chip--first">Landing Page</section>
                    </section>

                    <section class="project__view project__view--hidden">
                        <section class="project__link">Bekijk Case Study</section>
                    </section>
                </section>
            </section>

            <section class="project">
                <img class="project__image project__image--preview" src="images/resultpage.png">
                <section class="project__overlay project__overlay--smooth">
                    <h3 class="project__title">TripSearch</h3>

                    <section class="project__chip-list">
                        <section class="chip project__chip project__chip--hidden project__chip--first">ElasticSearch
                        </section>
                        <section class="chip project__chip project__chip--hidden project__chip--first">GuzzleHttp
                        </section>
                        <section class="chip project__chip project__chip--hidden project__chip--first">Composer
                        </section>
                        <section class="chip project__chip project__chip--hidden project__chip--first">PHP</section>
                    </section>

                    <section class="project__view project__view--hidden">
                        <section class="project__link">Bekijk Case Study</section>
                    </section>
                </section>
            </section>


            <section class="project">
                <img class="project__image project__image--preview" src="images/resultpage.png">
                <section class="project__overlay project__overlay--smooth">
                    <h3 class="project__title">Cars</h3>

                    <section class="project__chip-list">
                        <section class="chip project__chip project__chip--hidden project__chip--first">PHP</section>
                        <section class="chip project__chip project__chip--hidden project__chip--first">Symfony</section>
                        <section class="chip project__chip project__chip--hidden project__chip--first">Material Design
                        </section>
                        <section class="chip project__chip project__chip--hidden project__chip--first">UX</section>
                    </section>

                    <section class="project__view project__view--hidden">
                        <section class="project__link">Bekijk Case Study</section>
                    </section>
                </section>
            </section>

            <section class="project">
                <img class="project__image project__image--preview" src="images/coverage.png">
                <section class="project__overlay project__overlay--smooth">
                    <h3 class="project__title">CacheDrivers</h3>

                    <section class="project__chip-list">
                        <section class="chip project__chip project__chip--hidden project__chip--first">PHPUnit</section>
                        <section class="chip project__chip project__chip--hidden project__chip--first">Travis CI</section>
                        <section class="chip project__chip project__chip--hidden project__chip--first">Package</section>
                        <section class="chip project__chip project__chip--hidden project__chip--first">Code Coverage</section>
                    </section>

                    <section class="project__view project__view--hidden">
                        <section class="project__link">Bekijk Case Study</section>
                    </section>
                </section>
            </section>

            <section class="project">
                <img class="project__image project__image--preview" src="images/tasklist.png">
                <section class="project__overlay project__overlay--smooth">
                    <h3 class="project__title">Planner</h3>

                    <section class="project__chip-list">
                        <section class="chip project__chip project__chip--hidden project__chip--first">ReactJS</section>
                        <section class="chip project__chip project__chip--hidden project__chip--first">Spa</section>
                        <section class="chip project__chip project__chip--hidden project__chip--first">Laravel</section>
                        <section class="chip project__chip project__chip--hidden project__chip--first">Rest Api</section>
                    </section>

                    <section class="project__view project__view--hidden">
                        <section class="project__link">Bekijk Case Study</section>
                    </section>
                </section>
            </section>
            <section class="project">
                <img class="project__image project__image--preview" src="images/blog__post.png">
                <section class="project__overlay project__overlay--smooth">
                    <h3 class="project__title">devBlog</h3>

                    <section class="project__chip-list">
                        <section class="chip project__chip project__chip--hidden project__chip--first">Laravel</section>
                        <section class="chip project__chip project__chip--hidden project__chip--first">Blog</section>
                        <section class="chip project__chip project__chip--hidden project__chip--first">CRUD</section>
                    </section>

                    <section class="project__view project__view--hidden">
                        <section class="project__link">Bekijk Case Study</section>
                    </section>
                </section>
            </section>
        </section>
    </section>
</main>