<main>
    <section class="profile" id="#home">
        <h1 class="profile__title">
            <span class="profile__tag--type"></span>
            <span class="profile__tag--spacing"></span>
            <span class="profile__tag--branch"></span>
        </h1>

        <p class="profile__description">Ik werk graag met de nieuwste tools en programmeer talen maar ik ken ook
            de ins en outs van de standaard tools en talen zoals: <span class="tag">PHP</span>, <span
                    class="tag">CSS</span>, <span class="tag">HTML5</span> en <span class="tag">git</span>. Ik heb met
            veel verschillende
            technieken zoals: <span class="tag">NPM</span>, <span class="tag">WebSocket</span>, <span class="tag">Web Security</span>,
            <span class="tag">Testing</span>, <span class="tag">Git Flow</span> en <span class="tag">Sass</span>.</p>

        <a href="#projects"><i class="profile__button fa fa-arrow-down"></i></a>
    </section>
    <section class="section section--gray" id="projects">
        <section class="l-projects">


            <section class="project">
                <img class="project__image project__image--preview" src="images/project__joblist.png">
                <section class="project__overlay project__overlay--smooth">
                    <h3 class="project__title">JobList</h3>

                    <section class="project__chip-list">
                        <section class="chip project__chip project__chip--hidden project__chip--first">PHP
                        </section>
                        <section class="chip project__chip project__chip--hidden project__chip--first">Material Design
                        </section>
                        <section class="chip project__chip project__chip--hidden project__chip--first">Laravel
                        </section>
                        <section class="chip project__chip project__chip--hidden project__chip--first">Landing Page
                        </section>
                    </section>

                    <section class="project__view project__view--hidden">
                        <a target="_blank" href="https://github.com/MaartenGDev/JobList" class="project__link">Bekijk op GitHub</a>
                    </section>
                </section>
            </section>

            <section class="project">
                <img class="project__image project__image--preview" src="images/project__tripsearch.png">
                <section class="project__overlay project__overlay--smooth">
                    <h3 class="project__title">TripSearch</h3>

                    <section class="project__chip-list">
                        <section class="chip project__chip project__chip--hidden project__chip--first">ElasticSearch
                        </section>
                        <section class="chip project__chip project__chip--hidden project__chip--first">GuzzleHttp
                        </section>
                        <section class="chip project__chip project__chip--hidden project__chip--first">Composer
                        </section>
                        <section class="chip project__chip project__chip--hidden project__chip--first">PHP</section>
                    </section>

                    <section class="project__view project__view--hidden">
                        <a target="_blank" href="https://github.com/MaartenGDev/TripSearch" class="project__link">Bekijk op GitHub</a>
                    </section>
                </section>
            </section>


            <section class="project">
                <img class="project__image project__image--preview" src="images/project__cars.png">
                <section class="project__overlay project__overlay--smooth">
                    <h3 class="project__title">Cars</h3>

                    <section class="project__chip-list">
                        <section class="chip project__chip project__chip--hidden project__chip--first">PHP</section>
                        <section class="chip project__chip project__chip--hidden project__chip--first">Symfony</section>
                        <section class="chip project__chip project__chip--hidden project__chip--first">Material Design
                        </section>
                        <section class="chip project__chip project__chip--hidden project__chip--first">UX</section>
                    </section>

                    <section class="project__view project__view--hidden">
                        <a href="#projects" class="project__link">Bekijk op GitHub</a>
                    </section>
                </section>
            </section>

            <section class="project">
                <img class="project__image project__image--preview" src="images/project__cachedrivers.png">
                <section class="project__overlay project__overlay--smooth">
                    <h3 class="project__title">CacheDrivers</h3>

                    <section class="project__chip-list">
                        <section class="chip project__chip project__chip--hidden project__chip--first">PHPUnit</section>
                        <section class="chip project__chip project__chip--hidden project__chip--first">Travis CI
                        </section>
                        <section class="chip project__chip project__chip--hidden project__chip--first">Package</section>
                        <section class="chip project__chip project__chip--hidden project__chip--first">Code Coverage
                        </section>
                    </section>

                    <section class="project__view project__view--hidden">
                        <a target="_blank" href="https://github.com/MaartenGDev/CacheDrivers" class="project__link">Bekijk op GitHub</a>
                    </section>
                </section>
            </section>

            <section class="project">
                <img class="project__image project__image--preview" src="images/project__planner.png">
                <section class="project__overlay project__overlay--smooth">
                    <h3 class="project__title">Planner</h3>

                    <section class="project__chip-list">
                        <section class="chip project__chip project__chip--hidden project__chip--first">ReactJS</section>
                        <section class="chip project__chip project__chip--hidden project__chip--first">Spa</section>
                        <section class="chip project__chip project__chip--hidden project__chip--first">Laravel</section>
                        <section class="chip project__chip project__chip--hidden project__chip--first">Rest Api
                        </section>
                    </section>

                    <section class="project__view project__view--hidden">
                        <a target="_blank" href="https://github.com/MaartenGDev/planner" class="project__link">Bekijk op GitHub</a>
                    </section>
                </section>
            </section>
            <section class="project">
                <img class="project__image project__image--preview" src="images/project__devblog.png">
                <section class="project__overlay project__overlay--smooth">
                    <h3 class="project__title">devBlog</h3>

                    <section class="project__chip-list">
                        <section class="chip project__chip project__chip--hidden project__chip--first">Laravel</section>
                        <section class="chip project__chip project__chip--hidden project__chip--first">Blog</section>
                        <section class="chip project__chip project__chip--hidden project__chip--first">CRUD</section>
                    </section>

                    <section class="project__view project__view--hidden">
                        <a target="_blank" href="https://github.com/MaartenGDev/devBlog" class="project__link">Bekijk op GitHub</a>
                    </section>
                </section>
            </section>
        </section>
    </section>

    <section class="section section--title section--background" id="skills">
        <section class="l-tabs">
            <h1 class="section__title section__title--white">Skills</h1>

            <div class="tabs">
                <section class="tabs__navigation">
                    <section target-background="vim" target-tab="1" class="tabs__nav tabs__nav--active">
                        <i class="fa fa-code" aria-hidden="true"></i>
                    </section>
                    <section target-background="server" target-tab="2" class="tabs__nav">
                        <i class="fa fa-server" aria-hidden="true"></i>
                    </section>
                    <section target-background="security" target-tab="3" class="tabs__nav">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </section>

                </section>

                <div class="tabs__item tabs__item--1">
                    <h3># My Language Stack</h3>
                    <h4>## Back-end</h4>
                    <ul>
                        <li>PHP 5.2(without short array syntax 😕) t/m 7.1 (return typehinting 🎉)
                            <ul>
                                <li><a target="_blank" rel="noopener noreferrer"
                                       href="https://github.com/MaartenGDev/TripSearch">Trip Search</a> to plan your
                                    trip to
                                    Rotterdam
                                </li>
                                <li><a target="_blank" rel="noopener noreferrer"
                                       href="https://github.com/MaartenGDev/CacheDrivers">Caching Libary</a> to store
                                    anything in cache files
                                </li>
                                <li>A custom build MVC OOP PHP framework named <a target="_blank"
                                                                                  rel="noopener noreferrer"
                                                                                  href="https://github.com/MaartenGDev/FastHttp">FastHttp</a>
                                </li>
                                <li>A <a target="_blank" rel="noopener noreferrer"
                                         href="https://github.com/MaartenGDev/PlagiaatRest-API">REST Api</a> that
                                    recognizes
                                    plagiarism
                                </li>
                            </ul>
                        </li>
                        <li>Javascript
                            <ul>
                                <li>React (<a target="_blank" rel="noopener noreferrer"
                                              href="https://github.com/MaartenGDev/planner"
                                              title="SPA = Single Page Application">Calendar SPA</a> )
                                </li>
                                <li>Adonis (<a target="_blank" rel="noopener noreferrer"
                                               href="https://github.com/MaartenGDev/JsDashboard">JsDashboard</a>)
                                </li>
                                <li>NodeJS (<a target="_blank" rel="noopener noreferrer"
                                               href="http://socket.io/">socket.io</a>
                                    for
                                    <a target="_blank" rel="noopener noreferrer"
                                       href="https://github.com/MaartenGDev/ReactChatClient">Chat Client</a>)
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <h4>## Front-end</h4>
                    <ul>
                        <li>Build Tools
                            <ul>
                                <li>Gulp (<a target="_blank" rel="noopener noreferrer"
                                             href="https://github.com/MaartenGDev/plagiaatcontrole/blob/master/gulpfile.js">Watchers
                                    for ES6 + SCSS</a>)
                                </li>
                                <li>Webpack (<a target="_blank" rel="noopener noreferrer"
                                                href="https://github.com/MaartenGDev/react-scss-starter">React SCSS
                                    Starter</a>)
                                </li>
                                <li>NPM scripts for watcher ES6 + React + SCSS(<a target="_blank"
                                                                                  rel="noopener noreferrer"
                                                                                  href="https://github.com/MaartenGDev/react-scss-starter/blob/master/package.json">Starter
                                    Kit</a>)
                                </li>
                            </ul>
                        </li>
                        <li>Design
                            <ul>
                                <li>EventPlanner <a target="_blank" rel="noopener noreferrer"
                                                    href="https://github.com/MaartenGDev/planner"
                                                    title="SPA = Single Page Application">(React SPA + Laravel REST
                                    Api)</a></li>
                                <li>Rooster Client <a target="_blank" rel="noopener noreferrer"
                                                      href="https://github.com/MaartenGDev/rooster-client"
                                                      title="SPA = Single Page Application">(React SPA + Custom Api)</a>
                                <li>Trip Planner <a target="_blank" rel="noopener noreferrer"
                                                    href="https://github.com/MaartenGDev/TripSearch"
                                                    title="SPA = Single Page Application">(React SPA + Api +
                                    ElasticSearch)</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="tabs__item tabs__item--2 tabs__item--hidden">
                    <h3># Server Management</h3>
                    <h4>## Server setup</h4>
                    <ul>

                        <li>Security
                            <ul>
                                <li>Fail2ban ssh + Fail2ban Apache</li>
                                <li>Security Headers <a target="_blank" rel="noopener noreferrer"
                                                        href="https://maartendev.me/">Check out the response headers</a>
                                </li>
                                <li>Scanning access/error logs for SQL Injection/Hacking attemps.</a></li>
                            </ul>
                        </li>
                        <li>Software
                            <ul>
                                <li>Ubuntu 14.04.5 x64</li>
                                <li>Ubuntu 16.04.1 x64</li>
                            </ul>

                        </li>
                    </ul>
                    <h4>## Management Tools</h4>
                    <ul>
                        <li>Webservers
                            <ul>
                                <li><a target="_blank" rel="noopener noreferrer"
                                       href="https://gist.github.com/MaartenGDev/8382a78e62a3a866b17cc48a00c7aa60">Push
                                    to deploy script</a> using Deploy keys (<b>.ssh</b> folder with deploy key for
                                    www-data user)
                                </li>

                                <li>Nginx/1.10.0
                                    <ul>
                                        <li>Let's Encrypt CA (<a target="_blank" rel="noopener noreferrer"
                                                                 href="https://maartendev.me/">https://maartendev.me/</a>
                                            has L.E SSL cert)
                                        </li>
                                        <li>Bash Scripts to manage sites. (Script to <a target="_blank"
                                                                                        rel="noopener noreferrer"
                                                                                        href="https://gist.github.com/MaartenGDev/13c26310d727941ea0cbea2b15572540">Create</a>
                                            and
                                            <a target="_blank" rel="noopener noreferrer"
                                               href="https://gist.github.com/MaartenGDev/df16a3eb3e0bb047451500bf2a185c31">Manage</a>
                                            sites
                                        </li>
                                    </ul>
                                </li>
                                <li>Apache
                                    <ul>
                                        <li>ModSecurity 2.9 (Checks cookies, user agents, form requests)</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>


                    </ul>
                </div>

                <section class="tabs__item tabs__item--3 tabs__item--hidden">
                    <h3># Security</h3>
                    <h4>## Server Security</h4>

                    <ul>
                        <li>Disable root login</li>
                        <li>Sudo User</li>
                        <li>SSH only login, password login disabled</li>
                        <li>Chroot jail for main (sudo) user</li>
                        <li>Mysql
                            <ul>
                                <li>New user for every website</li>
                                <li>Limited his own database(and information schema..)</li>
                                <li>Only permissions that are needed(INSERT, SELECT) and no (DROP / <b>*.*</b>)</li>
                            </ul>
                        </li>
                    </ul>
                    <h4>## Web Security</h4>
                    <ul>
                        <li>XSS - <b><i>&lt;script&gt;alert('hacked!');&lt;script&gt;</i></b>
                            <ul>
                                <li>Markdown to prevent XSS and broken html tags</li>
                                <li>Replace dangerous html tokens with html entities</li>
                                <li>Escape by default \{{ MyVariable }}(<a target="_blank" rel="noopener noreferrer"
                                                                          href="https://github.com/MaartenGDev/devBlog/blob/master/resources/views/dashboard/index.blade.php">Laravel's
                                    template tag</a> for htmlspecialchars)
                                </li>
                            </ul>
                        </li>
                        <li>SQL Injections
                            <ul>
                                <li>PDO prepared statements(no more mysql_query 😅)</li>
                                <li>Limited database user rights</li>
                                <li>Binding values to placeholders instead of concatenating the values into the query
                                </li>
                            </ul>
                        </li>
                        <li>CSRF
                            <ul>
                                <li>Per Session CSRF token</li>
                                <li>Encrypted CRSF token to prevent fiddling with the cookie</li>
                                <li>Validate all requests using CSRF tokens using form fields</li>
                            </ul>
                        </li>
                        <li>ClickJacking
                            <ul>
                                <li><b>x-frame-options: DENY</b> HTTP header to prevent IFraming</li>
                                <li>Strict Cookie settings(http only + secure flag)</li>
                            </ul>
                        </li>

                        <li>Best Data Storage practices such as:
                            <ul>
                                <li>Bcrypt for passwords</li>
                                <li><a target="_blank" rel="noopener noreferrer" href="https://jwt.io/">JWT</a>
                                    tokens <a target="_blank" rel="noopener noreferrer"
                                              href="https://github.com/MaartenGDev/planner/blob/master/app/Http/Controllers/AuthenticateController.php">(SPA
                                        + JWT)</a> for authentication
                                </li>
                            </ul>
                        </li>
                    </ul>
                </section>
            </div>

        </section>
    </section>

    <section class="section section--title" id="accounts">
        <h1 class="section__title">Accounts</h1>

        <section class="profile__links">
            <a href="https://github.com/maartenGDev" target="_blank"><i
                    class="profile__social profile__social--github fa fa-github" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/maarten-grootoonk-098556131" target="_blank"><i
                    class="profile__social profile__social--linkedin profile__social--left fa fa-linkedin"
                    aria-hidden="true"></i></a>
            <a href="http://stackoverflow.com/users/6310593/maartendev" target="_blank"><i
                    class="profile__social profile__social--stackoverflow profile__social--right fa fa-stack-overflow"
                    aria-hidden="true"></i></a>
            <a href="mailto:hello@maartendev.me"><i
                    class="profile__social profile__social--mail fa fa-envelope" aria-hidden="true"></i></a>
        </section>
    </section>
</main>