<main>
    <section class="profile">
        <h1 class="profile__title">
            <span class="profile__tag--type"></span>
            <span class="profile__tag--spacing"></span>
            <span class="profile__tag--branch"></span>
        </h1>

        <p class="profile__description">Ik werk graag met de nieuwste tools en programmeer talen maar ik ken ook
            de ins en outs van de standaard tools en talen zoals: <span class="tag">PHP</span>, <span
                    class="tag">CSS</span>, <span class="tag">HTML5</span> en <span class="tag">git</span>. Ik heb met
            veel verschillende
            technieken zoals: <span class="tag">NPM</span>, <span class="tag">WebSocket</span>, <span class="tag">Web Security</span>,
            <span class="tag">Testing</span>, <span class="tag">Git Flow</span> en <span class="tag">Sass</span>.</p>
    </section>
    <section class="section__item">
        <section class="section__content">
            <h1 class="section__title">Hey!</h1>
            <h3 class="section__subtitle">Wat doe ik eigenlijk?</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a blandit lorem. Praesent eu dictum
                neque, vel sagittis leo. Quisque elementum odio a ante fermentum, a volutpat quam pellentesque. Morbi
                commodo, enim eget cursus interdum, orci massa dapibus sapien, a sagittis sem ipsum eget urna. Aliquam
                et mauris ullamcorper lacus tincidunt scelerisque. Morbi interdum vehicula venenatis. Ut pretium
                volutpat ligula, sed placerat leo tincidunt in. Maecenas ullamcorper sem tellus, ut posuere felis
                elementum quis. Aliquam lobortis elementum placerat.</p>
        </section>
        <section class="section__image"></section>
    </section>
</main>