@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif; }

.nav {
  text-align: right; }
  .nav__list {
    padding: 0 20px; }
  .nav__item {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 10px; }
    .nav__item--title {
      float: left;
      margin-left: 0; }
  .nav__link {
    text-decoration: none;
    color: #6D6E6F; }

.profile__title {
  font-size: 50px;
  display: inline-block; }

.profile__tag--type {
  font-style: italic;
  color: #34495e; }

.profile__tag--spacing {
  border-bottom: 3px solid #ffffff; }

.profile__tag--branch {
  border-bottom: 3px solid #8e44ad;
  color: #8e44ad; }
