@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif; }

.l-container {
  width: calc(100% - 40px);
  margin: 0 20px; }

.nav {
  text-align: right; }
  .nav__list {
    padding: 0 20px; }
  .nav__item {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 10px; }
    .nav__item--title {
      float: left;
      margin-left: 0; }
  .nav__link {
    text-decoration: none;
    color: #6D6E6F; }

.profile {
  width: calc(100% - 40px);
  margin: 0 20px;
  height: 100vh; }
  .profile__title {
    margin-top: 100px;
    font-size: 50px;
    display: inline-block; }
  .profile__description {
    margin-top: 40px;
    max-width: 50%;
    line-height: 28px;
    font-weight: 300; }
  .profile__tag--type {
    color: #34495e;
    border-bottom: 3px solid #16a085; }
  .profile__tag--branch {
    font-style: italic;
    color: #34495e; }

.section__item {
  max-width: 960px;
  margin: 0 auto; }

.section__content {
  width: 50%; }

.section__image {
  width: 50%; }

.tag {
  border-bottom: 2px solid #2c3e50; }
