.l-container
  width: calc(100% - 40px)

  &--center
    margin: 0 auto
    max-width: calc(100% - 400px)

.l-tabs
  margin: 0 auto
  width: 960px
  padding-bottom: 50px

@media (max-width: 1080px)
  .l-tabs
    width: 100%
  
