.nav{
  text-align: right;

  &__list{
    padding: 0 20px;
  }

  &__item{
    display: inline-block;
    text-transform: uppercase;
    margin-left: 10px;

    &--title{
      float: left;
      margin-left: 0;
    }
  }

  &__link{
    text-decoration: none;
    color: #6D6E6F;
  }
}