.project {
  background-color: #fff;
  display: inline-block;
  position: relative;
  height: 300px;
  overflow: hidden;
  flex-basis: calc(100% / 3);
  flex-flow: row wrap;
  margin: 0;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &--smooth {
      animation: lighten 0.5s forwards;
    }

    &--dark {
      animation: darken 0.5s forwards;
    }
  }

  &__image {
    height: 100%;

    &--preview {
      animation: scaleDown 0.5s forwards;
    }

    &--zoomed {
      animation: scaleUp 0.5s forwards;
    }
  }

  &__chip-list {
    margin: 0 30px;
  }

  &__chip {
    &--zoomed {
      animation: growChip 0.5s forwards;
    }

    &--hidden {
      display: none;
    }
  }

  &__view {
    width: calc(100% - 20px);
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 3px;
    margin: 0 10px 10px;
    animation: growButton 0.5s forwards;

    &--hidden {
      display: none;
    }
  }

  &__link {
    padding: 10px 0;
    color: rgba(0, 0, 0, 0.8);
  }

  &__title {
    color: white;
    margin: 30px 10px 10px 30px;
    font-size: 35px;
  }
}

@keyframes hideChip {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes growChip {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes growButton {
  from {
    width: 50%;
  }

  to {
    width: calc(100% - 20px);
  }
}

@keyframes lighten {
  from {
    background-color: rgba(0, 0, 0, 0.8);
  }

  to {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

@keyframes darken {
  from {
    background-color: rgba(0, 0, 0, 0.6);
  }

  to {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

@keyframes scaleDown {
  from {
    transform: scale(1.1);
  }

  to {
    transform: scale(1);
  }
}

@keyframes scaleUp {
  to {
    transform: scale(1.1);
  }
}
