.social-icon
  color: #2c3e50
  display: inline-block

  &--left
    margin: 0 25px 0 50px

  &--right
    margin: 0 50px 0 25px


  &__content
    height: 50px

    &--github
      fill: #7f8c8d

    &--mail
      fill: $text-main

    &--linkedin
      fill: #2980b9

    &--stackoverflow
      fill: #c0392b

